@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: whitesmoke;
    box-shadow: 2px 10px 10px rgba(117, 117, 117, 0.267);
    padding: 20px 65px;
    z-index: 2;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
}

nav a:hover {
    border-bottom: 1px solid #02849b;
    color: #02849b;
}

.conteudo {
    display: flex;
    height: 100vh;
    padding: 0 150px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.conteudo img {
    width: 500px;
}

.left {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.left h1 {
    color: #004854;
    font-size: 45px;
}

.left p {
    margin-left: 25px;
    line-height: 30px;
}

.left a {
    margin-top: 50px;
    text-decoration: none;
    color: white;
    background-color: #02849b;
    padding: 10px 25px;
    border-radius: 9999px;
    width: 205px;
    transition: 0.5s ease-in-out;
}

.left a:hover {
    width: 705px;
    background-color: #004854;
}

#materias {
    margin: 100px auto;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 157px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #02849b;
    font-weight: bold;
    box-shadow: 10px 15px 10px rgba(1, 51, 59, 0.041);
    overflow-y: hidden;
}

.card img {
    width: 120px;
}

.card p {
    opacity: 0;
    transform: translateY(20px);
    margin-top: 10px;
    font-size: 16px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 15px 25px 15px rgba(1, 128, 150, 0.23);
}

.card:hover p {
    opacity: 1;
    transform: translateY(0);
}

#sobre-nos {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 0 130px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.turma_img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    max-width: 50%;
}

.turma_img img {
    width: 650px;
}

.turma_img a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    background-color: #02849b;
    padding: 10px 25px;
    border-radius: 9999px;
    width: 205px;
    transition: all 0.7s ease;
}

.turma_img a img {
    width: 20px;
}

.turma_img a:hover {
    width: 350px;
    background-color: #004854;
}

.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text h1 {
    color: #004854;
    font-size: 45px;
}

.text p {
    margin-left: 25px;
    line-height: 200%;
}


/* Até 1400px */
@media screen and (max-width: 1400px) {
    .conteudo {
        padding: 0 70px;
    }

    .left {
        max-width: 65%;
    }

    .conteudo img {
        width: 400px;
    }

    #sobre-nos {
        padding: 0 70px;
    }

    .turma_img img {
        width: 500px;
    }

    .grid-container {
        gap: 100px;
    }
}

/* Até 1120px */
@media screen and (max-width: 1120px) {

    .conteudo,
    #sobre-nos {
        padding: 0 35px;
    }

    .left {
        max-width: fit-content;
    }

    .turma_img img {
        width: 400px;
    }

    .grid-container {
        gap: 70px;
    }

    .text {
        gap: 20px;
    }

    .text h1,
    .left h1 {
        font-size: 32px;
    }

    .text p {
        line-height: 150%;
    }
}

/* Até 925px */
@media screen and (max-width: 925px) {
    .conteudo {
        flex-direction: column;
        height: auto;
        margin-top: 80px;
    }

    .left h1 {
        text-align: center;
    }

    #sobre-nos {
        flex-direction: column;
    }

    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .turma_img {
        width: 100%;
    }
}